<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>star/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{103,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,40}</string>
			</dict>
			<key>star/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,0},{103,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,39}</string>
			</dict>
			<key>star/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,0},{108,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,38}</string>
			</dict>
			<key>star/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,37},{103,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,39}</string>
			</dict>
			<key>star/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,40},{68,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,29}</string>
			</dict>
			<key>star/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,40},{67,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,29}</string>
			</dict>
			<key>star/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,0},{103,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,40}</string>
			</dict>
			<key>star/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,40},{106,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,36}</string>
			</dict>
			<key>star/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,0},{109,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,37}</string>
			</dict>
			<key>star/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,0},{108,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,38}</string>
			</dict>
			<key>star/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,38},{103,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,39}</string>
			</dict>
			<key>star/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,38},{103,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>StarPlist.png</string>
			<key>realTextureFileName</key>
			<string>StarPlist.png</string>
			<key>size</key>
			<string>{1024,128}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>128</integer>
		</dict>
	</dict>
</plist>